<!DOCTYPE html>
<html ng-app="App" itemscope itemtype="http://schema.org/Product">
<head ng-controller="HeadController">
  <meta charset="utf-8">
  <meta name="google-site-verification" content="64Vxn64R08Dd1MUbJooZZ9k2mCWaCCVfgeOYt5PpC9k" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="fragment" content="!"/>
  <base href="/"></base>
  <!-- <base href="/"> -->
  <title ng-meta-title></title>
  <meta ng-meta-description>
  <meta ng-meta-twitter-card>
  <meta ng-meta-twitter-site>
  <meta ng-meta-twitter-title>
  <meta ng-meta-twitter-description>
  <meta ng-meta-twitter-creator>
  <meta ng-meta-twitter-image>
  <meta ng-meta-twitter-price>
  <meta ng-meta-twitter-price-label>
  <meta ng-meta-twitter-data>
  <meta ng-meta-twitter-data-label>
  <meta ng-meta-schema-name>
  <meta ng-meta-schema-description>
  <meta ng-meta-schema-image>
  <meta ng-meta-og-title>
  <meta ng-meta-og-type>
  <meta ng-meta-og-url>
  <meta ng-meta-og-image>
  <meta ng-meta-og-description>
  <meta ng-meta-og-site-name>
  <meta ng-meta-og-price-amount>
  <meta ng-meta-og-price-currency>


  <!-- CSS -->
  <link rel="stylesheet" href="{{assetUrl}}/css/app.css"/>
  <link rel="icon" 
      type="image/png" 
      href="{{assetUrl}}/images/favicon.png"/>
  
  <!-- JS -->
  <!-- load angular, nganimate, and ui-router -->
</head>

<!-- apply our angular app -->
<body>
  <div ng-nav-bar></div>
  <!-- <div ng-callouts></div> -->
  
  <div id="main-view" ui-view autoscroll="true"></div>

  <div ng-footer></div>
  <script src="{{assetUrl}}/js/lib.js"></script>
  <script src="{{assetUrl}}/js/app.js"></script>
</body>
</html>