<!DOCTYPE html>
<html ng-app="App">
<head ng-controller="HeadController">
  <meta charset="utf-8">
  <meta name="google-site-verification" content="64Vxn64R08Dd1MUbJooZZ9k2mCWaCCVfgeOYt5PpC9k" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="fragment" content="!"/>
  <base href="/"></base>
  <!-- <base href="/"> -->
  <title ng-meta-title></title>
  <meta ng-meta-description>
  <meta ng-meta-twitter-card>
  <meta ng-meta-twitter-site>
  <meta ng-meta-twitter-title>
  <meta ng-meta-twitter-description>
  <meta ng-meta-twitter-creator>
  <meta ng-meta-twitter-image>
  <meta ng-meta-twitter-price>
  <meta ng-meta-twitter-price-label>

  <!-- CSS -->
  <link rel="stylesheet" href="{{assetUrl}}/css/app.css"/>
  <link rel="icon" 
      type="image/png" 
      href="{{assetUrl}}/images/favicon.png"/>
  
  <!-- JS -->
  <!-- load angular, nganimate, and ui-router -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59982204-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>

<!-- apply our angular app -->
<body>
  <div ng-nav-bar></div>
  <!-- <div ng-callouts></div> -->
  
  <div id="main-view" ui-view autoscroll="true"></div>

  <div ng-footer></div>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script src="{{assetUrl}}/js/lib.js"></script>
  <script src="{{assetUrl}}/js/app.js"></script>
</body>
</html>