<div class="row callouts" data-equalizer>
  <div class="small-12 large-4 columns">
    <a ui-sref="delivery">
      <div class="panel" data-equalizer-watch>
        <h4>Same Day Delivery if you order by 3pm</h4>
      </div>
    </a>
  </div>
  <div class="small-12 large-4 columns">
    <a ui-sref="stores-list">
      <div class="panel" data-equalizer-watch>
        <h4>Your Favourite Stores in one place</h4>
      </div>
    </a>
  </div>
  <div class="small-12 large-4 columns">
    <a ui-sref="returns">
      <div class="panel" data-equalizer-watch>
        <h4>Free Returns<br>We come to YOU!</h4>
      </div>
    </a>
  </div>
</div>