<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <img src="images/fmflogowhite2x.png" alt="Logo image">
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Info</h3></li>
      <li><a ui-sref="about">About</a></li>
      <li><a ui-sref="delivery">Delivery</a></li>
      <li><a ui-sref="contact">Contact</a></li>
      <li><a ui-sref="returns">Returns & Refunds</a></li>
      <li><a ui-sref="pricePromise">Price Promise</a></li>
    </ul>
    <ul>
      <li><h3>Follow Us</h3></li>
      <li><a href="https://www.facebook.com/fetchmyfashion" target="_blank">Facebook</a></li>
      <li><a href="http://twitter.com/fetchmyfashion" target="_blank">Twitter</a></li>
    </ul>
    <ul>
      <li><h3>Legal</h3></li>
      <li><a ui-sref="terms">Terms and Conditions</a></li>
      <li><a ui-sref="privacy">Privacy Policy</a></li>
    </ul>
  </div>

  <hr>

  <p>24/7 Customer service line 0800 808 5708</p>
</footer>
