<section class="row">
  <div class="small-6 columns">
    <h2>About Us</h2>
    
    <p>The FetchMyFashion team are on a mission to make a personal shopping concierge affordable for everyone. We offer style savvy, time-poor shoppers a way to browse the top online fashion stores and brands in once place, and then checkout from multiple stores in one go. You then receive one email with all of your delivery tracking information and codes, and can access returns details for every store on your account.</p>

    <p>If you need any help with your order, we offer 24 hour telephone customer service on, 0800 808 5708 and can also be contacted by email at <a href="mailto:customercare@fetchmyfashion.com">customercare@fetchmyfashion.com</a></p>
  </div>
</section>