<div class="title">
  <section class="row">
    <h1 class="centered">Your Shopping Bag <span ng-show="basket.list().length === 0">Is Empty!</span></h1>
  </section>
</div>

<section class="row" ng-hide="basket.list().length === 0">
  <div class="comment"  ng-repeat="product in basket.listProducts()">
    <div class="comment-image" ui-sref="productDetail({productID: product.id})">
      <img ng-src="{{product.image_url}}" alt="Logo image">
    </div>
    <div class="comment-content">
      <h1>{{product.name}}</h1>
      <p>{{ product.display_price | currency : '£' }}</p>
      <!-- <p class="comment-detail">{{product.sizes}}</p> -->
      <p><strong>Size:</strong> {{product.selectedSize.name}}</p>
      <button ng-click="removeFromBasket(product)">Remove</button>
    </div>
  </div>
  <ul>
    <li ng-repeat="store in stores.listStoresForProducts(basket.listProducts())">
      <h6>Delivery for Items from {{store.name}}</h6>
      <select ng-model="delivery" ng-change="setDelivery(delivery, store)">
        <option value="">Choose your delivery:</option>
        <option value='"store": {{store.id}}, "type": "standard", "price": {{stores.calcStdDeliveryPrice(store, basket.listProducts())}}'>Standard: {{stores.calcStdDeliveryPrice(store, basket.listProducts()) | currency: '£'}}</option>
        <option value='"store": {{store.id}}, "type": "express", "price": {{store.express_price}}' ng-show="store.express_price">Express: {{store.express_price | currency: '£'}}</option>
      </select>
    </li>
  </ul>
  <p>
    <strong>Subtotal:</strong> {{ basket.total() | currency : '£' }}<br>
    <strong>Delivery:</strong> {{ deliveries.total() | currency : '£' }}</br>
    <strong>Total:</strong> {{ basket.total() + deliveries.total() | currency : '£' }}
  </p>

  <button ng-disabled="valid()" ui-sref="pay.you">Pay Securely Now</button>
</section>

<section class="row" ng-show="basket.list().length === 0">
  <img style="margin: 0 auto;display: block" src="http://38.media.tumblr.com/e47c4e2ae6d2905d4542b0010414c059/tumblr_n97ftuMAdt1t0mkjyo2_250.gif">
  <button ui-sref="products.new" style="margin: 2em auto;display: block">Treat Yourself!</button>
</section>