<h4>Address Details</h4>
<p>
  {{localStorage.address.line1}}<br>
  {{localStorage.address.line2}}<br ng-show="localStorage.address.line2">
  {{localStorage.address.city}}<br>
  {{localStorage.address.country}}<br>
  {{localStorage.address.postCode}}<br>
</p>

<h4>Billing Details</h4>
<p>Card Ending: {{localStorage.last4}}</p>

<h4>Total</h4>
<p><strong>Subtotal:</strong> {{ basket.total() | currency : '£' }}<br>
    <strong>Delivery:</strong> {{ deliveries.total() | currency : '£' }}</br>
    <strong>Total:</strong> {{ basket.total() + deliveries.total() | currency : '£' }}
  </p>


<button ng-click="submitOrder()">Confirm Order</button>