<section class="row">
  <div class="small-6 columns">
    <h2>Price Promise</h2>
    
    <p>We will only ever charge you the amount listed on the original retailer’s website for the products you purchase. Occasionally, prices may change on the original store’s website and you may make an order before we notice that change. However, we always notify you of this change by email; if the price of the item has gone up, we ask your permission to continue with the purchase. If the price has been reduced, we let you know and only charge your card for the lower price.</p>

    <p>We also hunt out discount codes across the web once you’ve made an order for the different stores you make the purchase from. Again, if we make any savings for you, we will email you to let you know and pass the entire saving onto you.</p>
  </div>
</section>