<section class="row">
  <div class="side-image">
    <div class="images-wrapper" ng-style="{'background-image':'url('+ currentImg +')'}"></div>
    <div class="side-image-content">
      <h4>{{product.brand_name}}</h4>
      <h1>{{product.name}}</h1>
      <p>{{ product.display_price | currency : '£' }}</p>
      <ul class="additional-images"><li ng-repeat="img in product.image_urls">
        <img class="thumb" ng-src="{{img}}" ng-click="setProductImg(img)" ng-class="{current: currentImg === img}"></img>
      </li></ul>
      <strong>Select a size</strong>
      <div ng-size-dropdown></div>   
      <button class="button buy-button" ng-show="product.selectedSize" ng-mousedown="setButtonMsg(basket.inBasketItems(product.id))" ng-click="addToBasket(basket.inBasketItems(product.id))" ><span ng-show="basket.inBasketItems(product.id)">{{ msg 
        || "Remove from Basket"}}</span><span ng-hide="basket.inBasketItems(product.id)">{{ msg 
        || "Add to Basket"}}</span></button> 
      <div ng-product-details></div>
    </div>
  </div>  
</section>
  

