<section class="row">
  <div class="small-6 columns">
    <h2>Returns</h2>
    <p>Items should be returned new, unused, and with all tags and designer garment tags still attached. Returns that are damaged, soiled or altered will not be accepted.</p>
    <h4>Shoes</h4>
    <p>All shoes must be tried on a carpeted surface until you are certain you are keeping them. Shoes should be returned unmarked and in their original, undamaged shoe box as this is considered part of the product. Shoes that are returned without a box, in a damaged box or with marked soles may not be accepted, and may be sent back to the customer.</p>

    <h4>Lingerie & Swimwear</h4>
    <p>Briefs, swimming costumes and bikini bottoms should be tried on over underwear, without removing the protective adhesive strip. Returns may not be accepted if this strip has been removed or if items are soiled, and may be sent back to the customer.</p>

    <h2>Refunds</h2>
    <p>If you return or cancel an order, your refund will be credited to the original payment method. Please note that refunds can take up to 10 working days to show on your account due to varying processing times between payment providers.</p>
  </div>
</section>